@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

// Colors
$Dark-blue: hsl(209, 23%, 22%);
$Very-dark-blue: hsl(207, 26%, 17%);
$Deep-dark-blue: hsl(200, 15%, 8%);
$Dark-gray: hsl(0, 0%, 52%);
$Very-light-gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

// card styles
$hover-scale: scale(1.05);
$bdr-rds: 4px;
$trans-time: ease .5s;


:root {
  // Light Mode
  --bg-color: #{$Very-light-gray};
  --text-color: #{$Very-dark-blue};
  --card-bg-color: #{$White};
  --card-text-color: #{$Dark-gray};
  --shadow-color: rgb(229, 226, 226);
}

// Dark Mode
.darkMode {
  --bg-color: #{$Very-dark-blue};
  --text-color: #{$White};
  --card-bg-color: #{$Dark-blue};
  --card-text-color: hsla(0, 0%, 98%, 0.72);
  --shadow-color: hsl(210, 26%, 15%);
}

@mixin cardStyles {
  background-color: var(--card-bg-color);
  color: var(--text-color);
  box-shadow: 1px -1px 8px var(--shadow-color);
  border-radius: $bdr-rds;
  padding: 12px 20px;
  cursor: pointer;
}