@import '../variables';

#country-details-page {
  margin-top: 10px;
}

#back-btn {
  @include cardStyles;
  padding: 7px 18px;
  transition: $trans-time;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 40px;

  &:hover {
    transform: $hover-scale;
  }

  ion-icon {
    margin-right: 5px;
  }
}

#details-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-direction: row;
}

.flag-container {
  width: 45%;
  aspect-ratio: 1.7/1;
}

.country-details {
  width: 45%;
  padding: 10px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    margin-top: 8px;
    font-weight: 900;

    span {
      font-weight: 600;
      color: $card-text-color;
    }
  }

  .name {
    font-size: 1.6rem;
    margin: 15px 0;
  }
}

.country-flag {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#all-details {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 15px 20px 25px 0;
}

.border-country {
  @include cardStyles;
  padding: 5px 15px;
  display: inline-block;
  margin: 10px 0 0 10px;
  transition: $trans-time;

  &:hover {
    transform: $hover-scale;
  }

  span {
    font-weight: 600;
  }
}